body{
    background-image:url(img/2.jg);
    background-repeat: no-repeat;
    background-size: cover;
}
#container{
    display: grid;
   grid-template-columns:repeat(4,1fr);
   text-align: center;

 
}
img{
    
}

.btn1{
    background-color:grey;
    border: none;
    color: white;
}
.navbar-brand img{
    width: 120px;
    height: 120px;
   
}

